<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.kuldip.budget.manager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="dev.kuldip.budget.manager.BudgetApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name="dev.kuldip.budget.manager.service.SyncService" />

        <activity
            android:name="dev.kuldip.budget.manager.ui.splash.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="dev.kuldip.budget.manager.ui.login.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="dev.kuldip.budget.manager.ui.main.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="dev.kuldip.budget.manager.ui.feed.FeedActivity"
            android:launchMode="singleTop"
            android:parentActivityName="dev.kuldip.budget.manager.ui.main.MainActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.kuldip.budget.manager.ui.main.MainActivity" />
        </activity>

    </application>

</manifest>